.elementor-4506 .elementor-element.elementor-element-15ffdb52 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 0px 0px;
    --background-transition: 0.3s;
    --margin-block-start: 0px;
    --margin-block-end: 0px;
    --margin-inline-start: 0px;
    --margin-inline-end: 0px;
    --padding-block-start: 0px;
    --padding-block-end: 0px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px;
}

.elementor-4506 .elementor-element.elementor-element-31bb9b63 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-4506 .elementor-element.elementor-element-31bb9b63.e-con {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-4506 .elementor-element.elementor-element-835a7d9 .hfe-nav-menu__toggle {
    margin-left: auto;
}

.elementor-4506 .elementor-element.elementor-element-835a7d9 .menu-item a.hfe-menu-item {
    padding-left: 30px;
    padding-right: 30px;
}

.elementor-4506 .elementor-element.elementor-element-835a7d9 .menu-item a.hfe-sub-menu-item {
    padding-left: calc( 30px + 20px);
    padding-right: 30px;
}

.elementor-4506 .elementor-element.elementor-element-835a7d9 .hfe-nav-menu__layout-vertical .menu-item ul ul a.hfe-sub-menu-item {
    padding-left: calc( 30px + 40px);
    padding-right: 30px;
}

.elementor-4506 .elementor-element.elementor-element-835a7d9 .hfe-nav-menu__layout-vertical .menu-item ul ul ul a.hfe-sub-menu-item {
    padding-left: calc( 30px + 60px);
    padding-right: 30px;
}

.elementor-4506 .elementor-element.elementor-element-835a7d9 .hfe-nav-menu__layout-vertical .menu-item ul ul ul ul a.hfe-sub-menu-item {
    padding-left: calc( 30px + 80px);
    padding-right: 30px;
}

.elementor-4506 .elementor-element.elementor-element-835a7d9 .menu-item a.hfe-menu-item,
.elementor-4506 .elementor-element.elementor-element-835a7d9 .menu-item a.hfe-sub-menu-item {
    padding-top: 15px;
    padding-bottom: 15px;
}

.elementor-4506 .elementor-element.elementor-element-835a7d9 a.hfe-menu-item,
.elementor-4506 .elementor-element.elementor-element-835a7d9 a.hfe-sub-menu-item {
    font-family: "Manrope", Sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.elementor-4506 .elementor-element.elementor-element-835a7d9 .menu-item a.hfe-menu-item,
.elementor-4506 .elementor-element.elementor-element-835a7d9 .sub-menu a.hfe-sub-menu-item {
    color: #000000;
}

.elementor-4506 .elementor-element.elementor-element-835a7d9 .sub-menu,
.elementor-4506 .elementor-element.elementor-element-835a7d9 nav.hfe-dropdown,
.elementor-4506 .elementor-element.elementor-element-835a7d9 nav.hfe-dropdown-expandible,
.elementor-4506 .elementor-element.elementor-element-835a7d9 nav.hfe-dropdown .menu-item a.hfe-menu-item,
.elementor-4506 .elementor-element.elementor-element-835a7d9 nav.hfe-dropdown .menu-item a.hfe-sub-menu-item {
    background-color: #fff;
}

.elementor-4506 .elementor-element.elementor-element-835a7d9 ul.sub-menu {
    width: 220px;
}

.elementor-4506 .elementor-element.elementor-element-835a7d9 .sub-menu a.hfe-sub-menu-item,
.elementor-4506 .elementor-element.elementor-element-835a7d9 nav.hfe-dropdown li a.hfe-menu-item,
.elementor-4506 .elementor-element.elementor-element-835a7d9 nav.hfe-dropdown li a.hfe-sub-menu-item,
.elementor-4506 .elementor-element.elementor-element-835a7d9 nav.hfe-dropdown-expandible li a.hfe-menu-item,
.elementor-4506 .elementor-element.elementor-element-835a7d9 nav.hfe-dropdown-expandible li a.hfe-sub-menu-item {
    padding-top: 15px;
    padding-bottom: 15px;
}

.elementor-4506 .elementor-element.elementor-element-835a7d9 .sub-menu li.menu-item:not(:last-child),
.elementor-4506 .elementor-element.elementor-element-835a7d9 nav.hfe-dropdown li.menu-item:not(:last-child),
.elementor-4506 .elementor-element.elementor-element-835a7d9 nav.hfe-dropdown-expandible li.menu-item:not(:last-child) {
    border-bottom-style: solid;
    border-bottom-color: #c4c4c4;
    border-bottom-width: 1px;
}

.elementor-4506 .elementor-element.elementor-element-835a7d9>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-4506 .elementor-element.elementor-element-835a7d9.elementor-element {
    --align-self: flex-end;
}

.elementor-4506 .elementor-element.elementor-element-4a2caeb4 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: center;
    --background-transition: 0.3s;
}

.elementor-4506 .elementor-element.elementor-element-4a2caeb4.e-con {
    --align-self: center;
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-4506 .elementor-element.elementor-element-401d14f9 img {
    max-width: 66%;
}

.elementor-4506 .elementor-element.elementor-element-45616d46 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-4506 .elementor-element.elementor-element-45616d46.e-con {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-4506 .elementor-element.elementor-element-2792785 .hfe-nav-menu__toggle {
    margin: 0 auto;
}

.elementor-4506 .elementor-element.elementor-element-2792785 .menu-item a.hfe-menu-item {
    padding-left: 15px;
    padding-right: 15px;
}

.elementor-4506 .elementor-element.elementor-element-2792785 .menu-item a.hfe-sub-menu-item {
    padding-left: calc( 15px + 20px);
    padding-right: 15px;
}

.elementor-4506 .elementor-element.elementor-element-2792785 .hfe-nav-menu__layout-vertical .menu-item ul ul a.hfe-sub-menu-item {
    padding-left: calc( 15px + 40px);
    padding-right: 15px;
}

.elementor-4506 .elementor-element.elementor-element-2792785 .hfe-nav-menu__layout-vertical .menu-item ul ul ul a.hfe-sub-menu-item {
    padding-left: calc( 15px + 60px);
    padding-right: 15px;
}

.elementor-4506 .elementor-element.elementor-element-2792785 .hfe-nav-menu__layout-vertical .menu-item ul ul ul ul a.hfe-sub-menu-item {
    padding-left: calc( 15px + 80px);
    padding-right: 15px;
}

.elementor-4506 .elementor-element.elementor-element-2792785 .menu-item a.hfe-menu-item,
.elementor-4506 .elementor-element.elementor-element-2792785 .menu-item a.hfe-sub-menu-item {
    padding-top: 15px;
    padding-bottom: 15px;
}

.elementor-4506 .elementor-element.elementor-element-2792785 a.hfe-menu-item,
.elementor-4506 .elementor-element.elementor-element-2792785 a.hfe-sub-menu-item {
    font-family: "Manrope", Sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.elementor-4506 .elementor-element.elementor-element-2792785 .menu-item a.hfe-menu-item,
.elementor-4506 .elementor-element.elementor-element-2792785 .sub-menu a.hfe-sub-menu-item {
    color: #000000;
}

.elementor-4506 .elementor-element.elementor-element-2792785 .sub-menu,
.elementor-4506 .elementor-element.elementor-element-2792785 nav.hfe-dropdown,
.elementor-4506 .elementor-element.elementor-element-2792785 nav.hfe-dropdown-expandible,
.elementor-4506 .elementor-element.elementor-element-2792785 nav.hfe-dropdown .menu-item a.hfe-menu-item,
.elementor-4506 .elementor-element.elementor-element-2792785 nav.hfe-dropdown .menu-item a.hfe-sub-menu-item {
    background-color: #fff;
}

.elementor-4506 .elementor-element.elementor-element-2792785 ul.sub-menu {
    width: 220px;
}

.elementor-4506 .elementor-element.elementor-element-2792785 .sub-menu a.hfe-sub-menu-item,
.elementor-4506 .elementor-element.elementor-element-2792785 nav.hfe-dropdown li a.hfe-menu-item,
.elementor-4506 .elementor-element.elementor-element-2792785 nav.hfe-dropdown li a.hfe-sub-menu-item,
.elementor-4506 .elementor-element.elementor-element-2792785 nav.hfe-dropdown-expandible li a.hfe-menu-item,
.elementor-4506 .elementor-element.elementor-element-2792785 nav.hfe-dropdown-expandible li a.hfe-sub-menu-item {
    padding-top: 15px;
    padding-bottom: 15px;
}

.elementor-4506 .elementor-element.elementor-element-2792785 .sub-menu li.menu-item:not(:last-child),
.elementor-4506 .elementor-element.elementor-element-2792785 nav.hfe-dropdown li.menu-item:not(:last-child),
.elementor-4506 .elementor-element.elementor-element-2792785 nav.hfe-dropdown-expandible li.menu-item:not(:last-child) {
    border-bottom-style: solid;
    border-bottom-color: #c4c4c4;
    border-bottom-width: 1px;
}

.elementor-4506 .elementor-element.elementor-element-776dcaac {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: center;
    --background-transition: 0.3s;
}

.elementor-4506 .elementor-element.elementor-element-776dcaac.e-con {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-4506 .elementor-element.elementor-element-13cfdcbe .elementor-button {
    font-family: "Roboto", Sans-serif;
    font-weight: 500;
    fill: #EF5732;
    color: #EF5732;
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #F26A2F;
    border-radius: 50px 50px 50px 50px;
    padding: 09px 22px 09px 22px;
}

.elementor-4506 .elementor-element.elementor-element-45ca0852 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 0px 0px;
    --background-transition: 0.3s;
}

.elementor-4506 .elementor-element.elementor-element-bf9f {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: center;
    --background-transition: 0.3s;
}

.elementor-4506 .elementor-element.elementor-element-bf9f.e-con {
    --align-self: center;
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-4506 .elementor-element.elementor-element-ced9abf img {
    max-width: 66%;
}

.elementor-4506 .elementor-element.elementor-element-1e44d904 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-4506 .elementor-element.elementor-element-1e44d904.e-con {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-4506 .elementor-element.elementor-element-5127ba10 .hfe-nav-menu__toggle {
    margin-left: auto;
}

.elementor-4506 .elementor-element.elementor-element-5127ba10 .menu-item a.hfe-menu-item {
    padding-left: 15px;
    padding-right: 15px;
}

.elementor-4506 .elementor-element.elementor-element-5127ba10 .menu-item a.hfe-sub-menu-item {
    padding-left: calc( 15px + 20px);
    padding-right: 15px;
}

.elementor-4506 .elementor-element.elementor-element-5127ba10 .hfe-nav-menu__layout-vertical .menu-item ul ul a.hfe-sub-menu-item {
    padding-left: calc( 15px + 40px);
    padding-right: 15px;
}

.elementor-4506 .elementor-element.elementor-element-5127ba10 .hfe-nav-menu__layout-vertical .menu-item ul ul ul a.hfe-sub-menu-item {
    padding-left: calc( 15px + 60px);
    padding-right: 15px;
}

.elementor-4506 .elementor-element.elementor-element-5127ba10 .hfe-nav-menu__layout-vertical .menu-item ul ul ul ul a.hfe-sub-menu-item {
    padding-left: calc( 15px + 80px);
    padding-right: 15px;
}

.elementor-4506 .elementor-element.elementor-element-5127ba10 .menu-item a.hfe-menu-item,
.elementor-4506 .elementor-element.elementor-element-5127ba10 .menu-item a.hfe-sub-menu-item {
    padding-top: 15px;
    padding-bottom: 15px;
}

.elementor-4506 .elementor-element.elementor-element-5127ba10 a.hfe-menu-item,
.elementor-4506 .elementor-element.elementor-element-5127ba10 a.hfe-sub-menu-item {
    font-family: "Manrope", Sans-serif;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
}

.elementor-4506 .elementor-element.elementor-element-5127ba10 .menu-item a.hfe-menu-item,
.elementor-4506 .elementor-element.elementor-element-5127ba10 .sub-menu a.hfe-sub-menu-item {
    color: #000000;
}

.elementor-4506 .elementor-element.elementor-element-5127ba10 .sub-menu,
.elementor-4506 .elementor-element.elementor-element-5127ba10 nav.hfe-dropdown,
.elementor-4506 .elementor-element.elementor-element-5127ba10 nav.hfe-dropdown-expandible,
.elementor-4506 .elementor-element.elementor-element-5127ba10 nav.hfe-dropdown .menu-item a.hfe-menu-item,
.elementor-4506 .elementor-element.elementor-element-5127ba10 nav.hfe-dropdown .menu-item a.hfe-sub-menu-item {
    background-color: #fff;
}

.elementor-4506 .elementor-element.elementor-element-5127ba10 ul.sub-menu {
    width: 220px;
}

.elementor-4506 .elementor-element.elementor-element-5127ba10 .sub-menu a.hfe-sub-menu-item,
.elementor-4506 .elementor-element.elementor-element-5127ba10 nav.hfe-dropdown li a.hfe-menu-item,
.elementor-4506 .elementor-element.elementor-element-5127ba10 nav.hfe-dropdown li a.hfe-sub-menu-item,
.elementor-4506 .elementor-element.elementor-element-5127ba10 nav.hfe-dropdown-expandible li a.hfe-menu-item,
.elementor-4506 .elementor-element.elementor-element-5127ba10 nav.hfe-dropdown-expandible li a.hfe-sub-menu-item {
    padding-top: 15px;
    padding-bottom: 15px;
}

.elementor-4506 .elementor-element.elementor-element-5127ba10 .sub-menu li.menu-item:not(:last-child),
.elementor-4506 .elementor-element.elementor-element-5127ba10 nav.hfe-dropdown li.menu-item:not(:last-child),
.elementor-4506 .elementor-element.elementor-element-5127ba10 nav.hfe-dropdown-expandible li.menu-item:not(:last-child) {
    border-bottom-style: solid;
    border-bottom-color: #c4c4c4;
    border-bottom-width: 1px;
}

.elementor-4506 .elementor-element.elementor-element-5127ba10 {
    width: var( --container-widget-width, 102.434%);
    max-width: 102.434%;
    --container-widget-width: 102.434%;
    --container-widget-flex-grow: 0;
}

.elementor-4506 .elementor-element.elementor-element-5127ba10.elementor-element {
    --flex-grow: 0;
    --flex-shrink: 0;
}

@media(max-width:767px) {
    .elementor-4506 .elementor-element.elementor-element-bf9f {
        --width: 50%;
    }
    .elementor-4506 .elementor-element.elementor-element-1e44d904 {
        --width: 50%;
        --justify-content: flex-end;
        --align-items: flex-end;
        --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    }
}

@media(min-width:768px) {
    .elementor-4506 .elementor-element.elementor-element-31bb9b63 {
        --width: 38%;
    }
    .elementor-4506 .elementor-element.elementor-element-4a2caeb4 {
        --width: 23%;
    }
    .elementor-4506 .elementor-element.elementor-element-45616d46 {
        --width: 20%;
    }
    .elementor-4506 .elementor-element.elementor-element-776dcaac {
        --width: 13.49%;
    }
    .elementor-4506 .elementor-element.elementor-element-bf9f {
        --width: 50%;
    }
    .elementor-4506 .elementor-element.elementor-element-1e44d904 {
        --width: 50%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-4506 .elementor-element.elementor-element-bf9f {
        --width: 67.637%;
    }
}